@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid black;
}
.logo{
    margin-right: auto;
    padding: 1.5% 0;
    padding-left: 2%;
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(31, 20, 11);
}
.navbar ul{
    display: flex;
    padding-right: 20px;
}
.navbar li{
    list-style: none;
    padding-left: 30px;
}
.navbar li a{
    list-style: none;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Baloo Tammudu 2', cursive;
    transition: all 0.3s ease 0s;
}
.navbaritems li a:hover{
    color: rgb(77, 77, 77);
    border: 2px solid rgb(105, 105, 105);
    padding: 10px 10px;
    border-radius: 6px;
}
.navbarbtn{
    margin-left: 30px;
    border:none;
    text-align: center;
    padding: 3px 6px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(211, 168, 77, 0.959);
    color:white;
    font-family: 'Baloo Tammudu 2', cursive;
    letter-spacing: 2px;
    font-size: 16px;
}
.navbarbtn:hover{
    opacity: 3;
    color: rgba(211, 168, 77, 0.959);
    background-color: white;
    border: 2px solid rgba(211, 168, 77, 0.959);
}

.dropDown{
    display: none;
    position: absolute;
    height: 30px;
    top: 0;
    right: 0;
    margin-top: 14px;
    margin-right: 12px;
    border:none;
    text-align: center;
    padding:15px 15px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(211, 168, 77, 0.959);
    color:white;
}
.gg-menu {
    transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}

/* main body */

.bodyimage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
    background-image: url("https://images.unsplash.com/photo-1517424788495-0d03ec42e244?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    width: 100%;
    background-position: center;
    /* opacity: 0.4; */
}

.onimgtext{
    position:absolute;
}

.onimgtext1{
    display: inline-block;
    color: rgb(196, 87, 36);
    font-size: 65px;
    margin-left: 6%;
    padding-bottom: 40px;
    font-family: 'Dancing Script', cursive;
}
.onimgtext2{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 6%;
    width: 35%;
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-family: 'Kalam', cursive;
}

.onimgbtn{
    
    border:none;
    text-align: center;
    margin-left: 6%;
    width: 30%;
    padding-top: 0.5%;
    border-radius: 5px;
    background-color: rgba(211, 168, 77, 0.959);
    color:white;
    font-family: 'Baloo Tammudu 2', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

.onimgbtn:hover{
    opacity: 3;
    color: rgba(211, 168, 77, 0.959);
    background-color: rgba(0,0,0,0.2);
    border: 0.5px solid rgba(211, 168, 77, 0.959);
}



/* main body ends here */


/* main 3 body */

.bodyinfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 8%;
    background-color: rgb(238, 236, 236);
}

.bodyitems{
    width: 33%;
    margin: 4% 2.5%;
}

.bodyitems img{
    max-width:100%;
    max-height:100%;
}

.bodyitemstitle{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 30px;
}

.bodyitemsbody{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}


/* main 3 body ends here */

/* lower body and footer */

.placeholder{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5% 3%;
}


#placeholder1{
    width: 100%;
    margin-right: 5%;
}

#placeholder2{
    width: 100%;
    margin-left: 5%;
}

.placeholdertitle{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 30px;
}

.placeholderbody{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.placeholder img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:100%;
    max-height:100%;
}

.placeholderstyle{
    border: 2px solid black;
    height: 100%;
    padding: 2% 2%;
}

footer{
    background-color: rgb(36, 31, 31);
    height: 70px;
}

/* lower body and footer ends here */

@media (max-width: 1035px){
    .navbar{
        border-bottom: 2p solid black;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar ul{
        flex-direction: column;
        display: none;
    }
    .navbar li{
        padding-left: 0;
        padding-top: 5%;
    }
    .navbarbtn{
        margin-left: 0;
        margin-top: 7%;
    }
    .dropDown{
        display: flex;
    }
    .logo{
        font-size: 26px;
    }

    /* after button is clicked */

    .navbaritems.responsive ul{
        display: flex;
    }
    .navbaritems.responsive li{
        margin-top: 10px;
        margin-left: 20px;
    }
    .navbaritems.responsive a{
        font-size: 12px;
    }
    .navbaritems.responsive button{
        padding-top: 8px;
        font-size: 12px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .logo.responsive{
        width: 100%;
        border-bottom: 2px solid black;
    }

    .img{
        height: 400px;
    }
    .onimgtext{
        
    }
    .onimgtext1{
        font-size: 22px;
    }
    .onimgtext2{
        font-size: 12px;
        width: 40%;
    }
    .onimgbtn{
        font-size: 12px;
        width: 220px;
    }
    .bodyinfo{
        flex-direction: column;
        align-items: center;
    }
    .bodyitems{
        width: 80%;
        height: 33%;
    }
    .bodyitemstitle{
        font-size: 22px;
    }
    .bodyitemsbody{
        font-size: 14px;
    }
    .placeholderstyle{
        width: 70%;
    }
    .placeholdertitle{
        font-size: 20px;
    }
    .placeholderbody{
        font-size: 12px;
    }
}